[cuts.polarization]
rules = ["pol_magnitude <= 0.0"]
cache = true

[cuts.standard]
rules = ["ChiSqDOF >= 3.0", "Proton_Z <= 50.0", "Proton_Z >= 80.0", "m_meson >= 2.0", "ksb_costheta < 0.0", "pol_magnitude <= 0.0"]
cache = true

[cuts.mandelstam_low_t]
rules = ["reduced_mandelstam_t >= 0.5"]
cache = true

[cuts.mandelstam_high_t]
rules = ["reduced_mandelstam_t < 0.5"]
cache = true

[cuts.mandelstam_very_high_t]
rules = ["reduced_mandelstam_t < 1.0"]
cache = true

[weights.accid]
weight_type = "accidental"
cache = false

[weights.splot]
weight_type = "splot"
sig = "hist"
bkg = "exp"
cache = true

[weights.splot_double_hist]
weight_type = "splot"
sig = "hist"
bkg = "hist"
cache = true

[weights.splot_gauss]
weight_type = "splot"
sig = "hist"
bkg = "gauss"
cache = true

[plots.mass]
variable = "m_meson"
label = "$m(K_S^0K_S^0)$"
units = "GeV/c^2"
bins = 50
limits = [1.0, 2.0]

[plots.chisqdof]
variable = "ChiSqDOF"
label = "$\\chi^2$/NDF"
units = ""
bins = 50
limits = [0.0, 10.0]

[plots.mandelstam_t]
variable = "reduced_mandelstam_t"
label = "$-t$"
units = "GeV^2/c^2"
bins = 50
limits = [0.0, 1.5]

[datasets.data]
source = "data"
steps  = ["accid", "standard", "splot"]

[datasets.data_double_hist]
source = "data"
steps  = ["accid", "standard", "splot_double_hist"]

[datasets.data_gauss]
source = "data"
steps  = ["accid", "standard", "splot_gauss"]

[datasets.data_low_t]
source = "data"
steps  = ["accid", "standard", "mandelstam_low_t", "splot"]

[datasets.data_high_t]
source = "data"
steps  = ["accid", "standard", "mandelstam_high_t", "splot"]

[datasets.data_very_high_t]
source = "data"
steps  = ["accid", "standard", "mandelstam_very_high_t", "splot"]

[datasets.accmc]
source = "sigmc"
steps  = ["accid", "standard"]

[datasets.accmc_low_t]
source = "sigmc"
steps  = ["accid", "standard", "mandelstam_low_t"]

[datasets.accmc_high_t]
source = "sigmc"
steps  = ["accid", "standard", "mandelstam_high_t"]

[datasets.accmc_very_high_t]
source = "sigmc"
steps  = ["accid", "standard", "mandelstam_very_high_t"]

[datasets.genmc]
source = "genmc"
steps = ["polarization"]

[fits.spd2p]
waves = ["S+0+", "D+2+"]
data = "data"
accmc = "accmc"
bins = 50
n_iterations=10
n_bootstraps=10

[fits.spnd2p]
waves = ["S+0+", "S+0-", "D+2+"]
data = "data"
accmc = "accmc"
bins = 50

[fits.spd2p_double_hist]
waves = ["S+0+", "D+2+"]
data = "data_double_hist"
accmc = "accmc"
bins = 50
n_iterations=10
n_bootstraps=10

[fits.spnd2p_double_hist]
waves = ["S+0+", "S+0-", "D+2+"]
data = "data_double_hist"
accmc = "accmc"
bins = 50

[fits.spd2p_low_t]
waves = ["S+0+", "D+2+"]
data = "data_low_t"
accmc = "accmc_low_t"
bins = 50

[fits.spnd2p_low_t]
waves = ["S+0+", "S+0-", "D+2+"]
data = "data_low_t"
accmc = "accmc_low_t"
bins = 50

[fits.spd2p_high_t]
waves = ["S+0+", "D+2+"]
data = "data_high_t"
accmc = "accmc_high_t"
bins = 50

[fits.spnd2p_high_t]
waves = ["S+0+", "S+0-", "D+2+"]
data = "data_high_t"
accmc = "accmc_high_t"
bins = 50

[fits.spd2p_very_high_t]
waves = ["S+0+", "D+2+"]
data = "data_very_high_t"
accmc = "accmc_very_high_t"
bins = 50

[fits.spnd2p_very_high_t]
waves = ["S+0+", "S+0-", "D+2+"]
data = "data_very_high_t"
accmc = "accmc_very_high_t"
bins = 50

[variations.default]
fits = ["spd2p", "spnd2p"]
plots = [
  { dataset = "data",  items = ["mass", "chisqdof", "mandelstam_t"] },
  { dataset = "accmc", items = ["mass", "mandelstam_t"] }
]

[variations.double_hist]
fits = ["spd2p_double_hist", "spnd2p_double_hist"]
plots = [
  { dataset = "data_double_hist",  items = ["mass", "chisqdof", "mandelstam_t"] },
  { dataset = "accmc", items = ["mass", "mandelstam_t"] }
]

[variations.low_t]
fits = ["spd2p_low_t", "spnd2p_low_t"]
plots = [
  { dataset = "data_low_t",  items = ["mass", "chisqdof", "mandelstam_t"] },
  { dataset = "accmc_low_t", items = ["mass", "mandelstam_t"] }
]

[variations.high_t]
fits = ["spd2p_high_t", "spnd2p_high_t"]
plots = [
  { dataset = "data_high_t",  items = ["mass", "chisqdof", "mandelstam_t"] },
  { dataset = "accmc_high_t", items = ["mass", "mandelstam_t"] }
]

[variations.very_high_t]
fits = ["spd2p_very_high_t", "spnd2p_very_high_t"]
plots = [
  { dataset = "data_very_high_t",  items = ["mass", "chisqdof", "mandelstam_t"] },
  { dataset = "accmc_very_high_t", items = ["mass", "mandelstam_t"] }
]

[variations.gauss]
fits = []
plots = [
  { dataset = "data_gauss", items = ["mass", "chisqdof", "mandelstam_t"] }
]
